<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>age</key>
			<string>35</string>
			<key>name</key>
			<string>张三1</string>
		</dict>
		<dict>
			<key>age</key>
			<string>41</string>
			<key>name</key>
			<string>张三2</string>
		</dict>
		<dict>
			<key>age</key>
			<string>33</string>
			<key>name</key>
			<string>张三3</string>
		</dict>
		<dict>
			<key>age</key>
			<string>44</string>
			<key>name</key>
			<string>张三4</string>
		</dict>
		<dict>
			<key>age</key>
			<string>25</string>
			<key>name</key>
			<string>张三5</string>
		</dict>
		<dict>
			<key>age</key>
			<string>35</string>
			<key>name</key>
			<string>张三6</string>
		</dict>
		<dict>
			<key>age</key>
			<string>35</string>
			<key>name</key>
			<string>张三7</string>
		</dict>
		<dict>
			<key>age</key>
			<string>38</string>
			<key>name</key>
			<string>张三8</string>
		</dict>
		<dict>
			<key>age</key>
			<string>32</string>
			<key>name</key>
			<string>张三9</string>
		</dict>
		<dict>
			<key>age</key>
			<string>16</string>
			<key>name</key>
			<string>张三10</string>
		</dict>
	</array>
</dict>
</plist>
